In [1]:
import os
import pandas as pd

In [2]:
vt_2015 = os.path.join('../Resources/Vermont','nibrs_arrestee_2015.csv')
vt_2016 = os.path.join('../Resources/Vermont','nibrs_arrestee_2016.csv')
vt_2017 = os.path.join('../Resources/Vermont','nibrs_arrestee_2017.csv')
vt_2018 = os.path.join('../Resources/Vermont','nibrs_arrestee_2018.csv')
vt_2019 = os.path.join('../Resources/Vermont','nibrs_arrestee_2019.csv')

# Files to DataFrame

In [3]:
vt_2015_df = pd.read_csv(vt_2015)
vt_2016_df = pd.read_csv(vt_2016)
vt_2017_df = pd.read_csv(vt_2017)
vt_2018_df = pd.read_csv(vt_2018)
vt_2019_df = pd.read_csv(vt_2019)

# Select columns and copy DataFrame

In [4]:
vt_2015_df = vt_2015_df[['arrest_date','offense_type_id', 'sex_code']].copy()
vt_2016_df = vt_2016_df[['arrest_date','offense_type_id', 'sex_code']].copy()
vt_2017_df = vt_2017_df[['DATA_YEAR','ARREST_DATE','OFFENSE_TYPE_ID', 'SEX_CODE']].copy()
vt_2018_df = vt_2018_df[['DATA_YEAR','ARREST_DATE','OFFENSE_TYPE_ID', 'SEX_CODE']].copy()
vt_2019_df = vt_2019_df[['DATA_YEAR','ARREST_DATE','OFFENSE_TYPE_ID', 'SEX_CODE']].copy()

# Filter by offense_type = 35 for drug type

In [5]:
offense_type = 35

In [6]:
vt_2015_df = vt_2015_df[vt_2015_df.offense_type_id.eq(offense_type)]
vt_2015_df

Empty DataFrame
Columns: [arrest_date, offense_type_id, sex_code]
Index: []

In [7]:
vt_2016_df = vt_2016_df[vt_2016_df.offense_type_id.eq(offense_type)]
vt_2016_df

Empty DataFrame
Columns: [arrest_date, offense_type_id, sex_code]
Index: []

In [8]:
vt_2017_df = vt_2017_df[vt_2017_df.OFFENSE_TYPE_ID.eq(offense_type)]
vt_2017_df = vt_2017_df.reset_index(drop=True)
vt_2017_df = vt_2017_df.rename(columns={'DATA_YEAR':'year',"ARREST_DATE":'arrest_date','OFFENSE_TYPE_ID':'offense_type_id','SEX_CODE':'sex_code'})

In [9]:
vt_2017_df

   year arrest_date  offense_type_id sex_code
0  2017   06-SEP-17               35        F
1  2017   17-OCT-17               35        F
2  2017   03-JUN-17               35        F
3  2017   16-AUG-17               35        F

In [10]:
vt_2018_df = vt_2018_df[vt_2018_df.OFFENSE_TYPE_ID.eq(offense_type)]
vt_2018_df = vt_2018_df.reset_index(drop=True)
vt_2018_df = vt_2018_df.rename(columns={'DATA_YEAR':'year',"ARREST_DATE":'arrest_date','OFFENSE_TYPE_ID':'offense_type_id','SEX_CODE':'sex_code'})

In [11]:
vt_2018_df

   year arrest_date  offense_type_id sex_code
0  2018   09-AUG-18               35        F

In [12]:
vt_2019_df = vt_2019_df[vt_2019_df.OFFENSE_TYPE_ID.eq(offense_type)]
vt_2019_df = vt_2019_df.reset_index(drop = True)
vt_2019_df = vt_2019_df.rename(columns={'DATA_YEAR':'year',"ARREST_DATE":'arrest_date','OFFENSE_TYPE_ID':'offense_type_id','SEX_CODE':'sex_code'})

In [13]:
vt_2019_df = vt_2019_df.reset_index(drop = True)
vt_2019_df

   year arrest_date  offense_type_id sex_code
0  2019   06-FEB-19               35        M
1  2019   15-OCT-19               35        F
2  2019   17-NOV-19               35        M
3  2019   22-JUN-19               35        M

# Merge All the DataFrame into VT_df

In [14]:
merged = vt_2015_df.merge(vt_2016_df, how = 'outer')
merged

Empty DataFrame
Columns: [arrest_date, offense_type_id, sex_code]
Index: []

In [15]:
merged2 = merged.merge(vt_2017_df, how='outer')

In [16]:
merged2

   year arrest_date  offense_type_id sex_code
0  2017   06-SEP-17               35        F
1  2017   17-OCT-17               35        F
2  2017   03-JUN-17               35        F
3  2017   16-AUG-17               35        F

In [17]:
merged3 = merged2.merge(vt_2018_df, how='outer')
merged4 = merged3.merge(vt_2019_df, how='outer')

In [18]:
merged4

   year arrest_date  offense_type_id sex_code
0  2017   06-SEP-17               35        F
1  2017   17-OCT-17               35        F
2  2017   03-JUN-17               35        F
3  2017   16-AUG-17               35        F
4  2018   09-AUG-18               35        F
5  2019   06-FEB-19               35        M
6  2019   15-OCT-19               35        F
7  2019   17-NOV-19               35        M
8  2019   22-JUN-19               35        M

In [19]:
VT_df = merged4[['year','arrest_date','sex_code']].copy()

## set up month and state

In [20]:
VT_df

   year arrest_date sex_code
0  2017   06-SEP-17        F
1  2017   17-OCT-17        F
2  2017   03-JUN-17        F
3  2017   16-AUG-17        F
4  2018   09-AUG-18        F
5  2019   06-FEB-19        M
6  2019   15-OCT-19        F
7  2019   17-NOV-19        M
8  2019   22-JUN-19        M

In [21]:
VT_df['state'] = 'VT'
VT_df

   year arrest_date sex_code state
0  2017   06-SEP-17        F    VT
1  2017   17-OCT-17        F    VT
2  2017   03-JUN-17        F    VT
3  2017   16-AUG-17        F    VT
4  2018   09-AUG-18        F    VT
5  2019   06-FEB-19        M    VT
6  2019   15-OCT-19        F    VT
7  2019   17-NOV-19        M    VT
8  2019   22-JUN-19        M    VT

In [22]:
date = VT_df['arrest_date'].str.split('-')
month = []
for number in date:
    if number[1] == 'JAN':
        month.append(1)
    if number[1] == 'FEB':
        month.append(2)
    if number[1] == 'MAR':
        month.append(3)
    if number[1] == 'APR':
        month.append(4)
    if number[1] == 'MAY':
        month.append(5)
    if number[1] == 'JUN':
        month.append(6)
    if number[1] == 'JUL':
        month.append(7)
    if number[1] == 'AUG':
        month.append(8)
    if number[1] == 'SEP':
        month.append(9)
    if number[1] == 'OCT':
        month.append(10)
    if number[1] == 'NOV':
        month.append(11)
    if number[1] == 'DEC':
        month.append(12)

In [23]:
VT_df['arrest_date'] = month
VT_df = VT_df.rename(columns={'arrest_date':'month'})

# Final DataFrame

In [24]:
VT_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      9 non-null      int64
 1   month     9 non-null      int64
 2   sex_code  9 non-null      object
 3   state     9 non-null      object
dtypes: int64(2), object(2)
memory usage: 360.0+ bytes

# Convert to csv file

In [25]:
VT_df.to_csv('../Resources/Vermont/vermont.csv')